body{
    background-image: url(https://www.xtrafondos.com/wallpapers/peces-debajo-del-agua-en-arte-digital-4563.jpg);
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(194, 16, 75);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }